# Crypto envs
# Only change with you have a good reason
PASSWORD_CRYPTO_ITERATIONS="350000"
PASSWORD_CRYPTO_KEYSIZE= "64"

# ALWAYS CHANGE THE SALT DURING THE FIRST DEPLOY 
# GENERATE SALT USING THE MODEL CLASS FOR CRYPTOPASSWORD BY Convert.ToHexString(GenerateSalt()) with debug
PASSWORD_CRYPTO_SALT = "604E08E21A647793FC99B2EAE2CAB9A4EB90143F28B50227678E52B02C56FBA71D1295BC703E3781CF0D91CD7C03B108A358681E781D8E68AA5D9DC909A2DBC5" 

#Google SSO envs
GOOGLE_ID_CLIENT = ""
GOOGLE_ID_KEY = ""
GOOGLE_API_USER_INFO = "https://www.googleapis.com/oauth2/v3/userinfo"
GOOGLE_API_TOKEN_INFO = "https://oauth2.googleapis.com/tokeninfo"

# JWT envs
# ALWAYS CHANGE THE CONTRACT STRINGS DURING THE FIRST DEPLOY
JWT_PRIVATE_CONTRACT_STRING = "fbce94f66af240097e414ef5265ade77e6716222adf0b34aacbb6d72ac22772d" # use this => 256bits https://jwtsecrets.com/
JWT_PUBLIC_CONTRACT_STRING = "1b5f95572c1555999355f3b1c618a9ceb1f0d9e2a1c1e533fea751879254bdf1"

# Redis envs
CACHE_DATABASE_HOST = "127.0.0.1"
CACHE_DATABASE_PORT = "6379"
CACHE_DATABASE_NUMBER = "1"
# Default TTL redis (seconds)
CACHE_DATABASE_DEFAULT_TTL = "360"
# timeout for connections
CACHE_DATABASE_TIMEOUT_CONNECT = "5000"
# synchronous commands
CACHE_DATABASE_SYNCTIMEOUT_CONNECT = "3000"
# asynchronous commands
CACHE_DATABASE_ASYNCTIMEOUT_CONNECT = "3000"
# Retry up to x times
CACHE_DATABASE_CONNECTION_RETRY = "3"
# X ms increment per attempt, max Y ms
CACHE_DATABASE_RETRY_POLICY_MIN_CONNECT = "500"
CACHE_DATABASE_RETRY_POLICY_MAX_CONNECT = "1000"
# Abort on connect true/false
CACHE_DATABASE_ABORT_ON_CONNECT_FAIL = "false"

# POSTGRES envs
PGSQL_DATABASE_AUTH_CONNECTION_READ_REPLICA_STRING = "Host=localhost;Port=5433;Database=signup;Username=app_signup_service_efn;Password=senhaSuperSegura;Pooling=true;MinPoolSize=5;MaxPoolSize=25;Application Name=NievoEasyFin.Auth;"
PGSQL_DATABASE_AUTH_CONNECTION_STRING = "Host=localhost;Port=5432;Database=signup;Username=app_signup_service_efn;Password=senhaSuperSegura;Pooling=true;MinPoolSize=5;MaxPoolSize=25;Application Name=NievoEasyFin.Auth;"
 
# Migration Python
PGSQL_DATABASE_AUTH_MIGRATION_CONNECTION_STRING = "postgresql://app_migration_service_efn:senhasegUr@127.0.0.1:5432/signup"
PGSQL_DATABASE_CORE_MIGRATION_CONNECTION_STRING = "postgresql://app_migration_service_efn:senhasegUr@127.0.0.1:5432/core"

# SMTP envs
# You should take a look at 
# NievoEasyFin.Application/Infrastructure/Auth/SmtpProvider.cs
# SendMailFromToAsync => SecureSocketOptions.XPTO
SMTP_DEFAULT_FROM_ADRESS_MAIL = ""
SMTP_SERVER_USER_NAME = ""
SMTP_SERVER_USER_PASSWORD = ""
SMTP_SERVER_HOST = ""
SMTP_SERVER_PORT = ""
SMTP_DEFAULT_PREFIX_MAIL_CONTENT = "Easy Fin - "

# MAIL TEMPLATES envs
PATH_MAIL_BODY_TEMPLATE_PASSWORD_RESET_TOKEN = "/full/path/file.txt"
PATH_MAIL_BODY_TEMPLATE_SINGUP_USER_TOKEN = "/full/path/file.txt"

# Terms code
CODE_SINGUP_TERMS = 'xxxx-xxxx-xxxx-xxxx-xxxx' # -> Just generate some UUID, use the V7 because it is better for index page in database  -> https://www.uuidgenerator.net/version7
DPO_CONTACT = "dpo@mail.com"
SUPPORT_CONTACT = "suport@mail.com"
APP_NAME="Nievo Easy Finance"